.SideNav {
  position: fixed;
  top: var(--heading-height);
  bottom: 0;
  z-index: 1000;
  display: block;
  width: 30rem;
  opacity: 0;
  left: -50rem;
  transition: opacity 150ms ease-in-out, left 150ms ease-in-out;

  @media only screen and (max-width: 500px) {
    width: 90vw;
  }

  @media only screen and (max-width: 400px) {
    width: 100vw;
  }

  &.Open {
    opacity: 1;
    left: 0;
  }
}

.Content {
  width: 100%;
  height: 100%;
  background: white;
}
