.enter {
  opacity: 0;
  right: -100rem;
}

.enterActive {
  opacity: 1;
  right: 0;
  transition: opacity 200ms, right 250ms;
}

.exit {
  opacity: 1;
  right: 0;
}

.exitActive {
  opacity: 0;
  right: -50rem;
  transition: opacity 200ms, right 250ms;
}
