.TextField {
  width: 100%;
  height: 4.5rem;
  padding: 0 var(--spacing-normal);
  font-size: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 0.4rem;
  background: white;
  transition: border-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  font-size: 1.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:active,
  &:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem var(--primary-color);
  }

  &:disabled {
    background-color: var(--background-color-light);
    color: grey;
    cursor: not-allowed;
  }

  &::placeholder {
    color: #aab7c4;
  }

  &.Error {
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem var(--error-color) !important;
  }
}

.ErrorMessage {
  display: inline-block;
  margin-top: 0.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--error-color);
}
