.enter {
  opacity: 0;
  bottom: -200rem;
}

.enterActive {
  opacity: 1;
  bottom: 0;
  transition: opacity 200ms, bottom 250ms;
}

.exit {
  opacity: 1;
  bottom: 0;
}

.exitActive {
  opacity: 0;
  bottom: -50rem;
  transition: opacity 200ms, bottom 250ms;
}
